---

---

<form class="flex gap-2">
  <input type="email" name="email" placeholder="Adresse email" class="flex h-10 w-full rounded border border-input bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-900 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" />
  <button type="submit" class="min-w-fit h-10 px-4 py-2 bg-gray-900 text-gray-50 hover:bg-gray-900/90 inline-flex items-center justify-center rounded text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-900 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">Me prevenir</button>
</form>